:root {
    --body-bg-color: #22212c;
    --text-color: #837e9f;
    --bg-cards: #302f3d;
    --bg-techs: #cb92b1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 20px;
    background-color: var(--body-bg-color);
    color: var(--text-color);
    display: flex;
    gap: 30px;
    font-family: "Merriweather Sans", sans-serif;
}
div > div {
    background-color: var(--bg-cards);
    border-radius: 20px;
    padding: 20px;
}

.esquerda {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1em;
}
.esquerda .usuario {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.esquerda .usuario img {
    border-radius: 100%;
}

.esquerda .usuario h1 {
    font-weight: 700;
    font-size: 24px;
}

.esquerda .usuario p {
    font-size: 12px;
}

.esquerda .info ul li {
    line-height: 40px;
    list-style: none;
    display: flex;
    align-items: center;
}
.esquerda .info ul li span {
    margin-left: 20px;
}
.esquerda .tech ul {
    margin-top: 20px;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 0.5em;
}

.esquerda .tech ul li {
    font-weight: bold;
    text-align: center;
    font-size: 10px;
    flex-basis: 85px;
    color: black;
    background-color: var(--bg-techs);
    border-radius: 15px;
    padding: 10px;
}
.esquerda .experiencias {
}
.esquerda .educacao {
}
.direita {
    flex: 3;
}
